[user]
	email = 54514693+queirvz@users.noreply.github.com
	name = queirvz
[init]
	defaultBranch = "main"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
	